[user]
	name = Michael Falk
	email = michael.falk.94@gmail.com
[credential]
	helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[core]
	excludesfile = /Users/michaelfalk/.gitignore_global
	autocrlf = input
	editor = vim
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
